{% extends 'layouts/application.html' %}

{% block title %}Game Page{% endblock %}

{% block content %}
  <script src="/socket.io/socket.io.js"></script>
  <div id="board" class="board">
    <div class="current_player">NOT SET</div>
      <div class="grid">
        <div class="spacer"></div>
        {% for col in [0,1,2,3,4,5,6] %}
          <div class="board_column" data-column="{{ col }}">
            <div class="droppers">
              <button class="dropper">V</button>
            </div>
            {% for row in [5,4,3,2,1,0] %}
              <div class="cell" data-row="{{ row }}">
                <span class="cell_value">X</span>
              </div>
            {% endfor %}
          </div>      
        {% endfor %}
      <div class="spacer"></div>
    </div>
    <div class="debug"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="javascripts/app.js"></script>
{% endblock %}
