{% extends 'layouts/application.html' %}

{% block title %}Game Page{% endblock %}

{% block content %}
  <script src="/socket.io/socket.io.js"></script>
  <div id="board" class="board">
    <table class="status_container">
      <tr>
        <td class="status_field current_player"></td>
        <td class="status_field reset_container"><button class="btn reset">RESET</button></td>
      </tr>
    </table>
    <div class="grid_board_spacer"></div>
    <table class="grid">
      <tr>
        <td class="spacer">&nbsp;</td>
        {% for col in [0,1,2,3,4,5,6] %}
          <td class="board_column">
            <button class="btn dropper" data-column="{{ col }}"></button>
          </td>
        {% endfor %}
        <td class="spacer">&nbsp;</td>
      </tr>

      {% for row in [5,4,3,2,1,0] %}
        <tr class="board_row" data-row="{{ row }}">
          <td></td>
          {% for col in [0,1,2,3,4,5,6] %}
            <td class="cell_holder">
              <div class="cell" data-column="{{ col }}">
                <div class="cell_content"></div>
              </div>
            </td>
          {% endfor %}
          <td></td>
        </tr> 
      {% endfor %}
    </table>
    <div class="debug"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="javascripts/app.js"></script>
{% endblock %}
