.board
  width: 80%
  border: 2px solid #333
  margin: 10px auto

.grid
  width: 100%  
  border-collapse: collapse

.board_column
  width: 10%
  border: 2px solid #333
  border-top: none
  border-bottom: none

.spacer
  width: 15%

.player_R
  background-color: #FDD

.player_B
  background-color: #DDF

.debug
  font-family: courier
  font-size: .7em
  padding: 1em
  margin: 1em
